:root {
    --font_primary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --color_primary: rgb(0, 183, 255);
    /*--color-menu-hover: color-mix(in srgb, rgb(0, 225, 255), white);*/
    /*--color-menu-hover: rgba(255, 255, 255, 0.822);*/
    --color-menu-hover: #f0f1ea48;
    

}


body {
    font-family: var(--font_primary);
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    background-color: rgba(0, 0, 0, 0.836);
    /*background-color: rgba(0, 0, 0, 0.918);*/
    color: white;
    /*margin: 0;*/
    margin: 0 1px 0 1px;
    /*margin: 1px 10px 0px 10px;*/
    /*min-height: 100vh;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}



/*Section com a header, nav, header e h1*/
.gradiente {
    
    /*background-image: linear-gradient(rgba(0, 0, 255, 0.479), #ccccccfa);*/
    border-radius: 5px;
    padding-bottom: 5px;
  
}

 /*Menu nas outras pages*/
.gradiente2 {
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    

}

.div_menu {
    /*position: fixed;*/
    height: 80px;
    width: 100%;

}

.article_menu {
    /*display:inline-block;*/
    text-align: center;

    

}

ul, li, a {
    cursor: pointer;
    /*display: flexbox;*/
    display: inline-block; /*se usasse o li no lugar do ul: display:inline-block*/
    text-decoration: none; /*tirar sublinhado*/
    list-style-type: none; /*pra tirar o budgets*/
    /*text-align: center;*/
    /*text-align: left*/
    gap: .6rem; /*espaço entre linhas */
    color: var(--color_primary);
    /*color: blue;*/
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 1px;
     

}

.menu a {
    /*border: solid 2px #cccccc6b;*/
    border: solid 2px var(--color_primary);
    /*border: solid 2px rgba(0, 0, 255, 0.466);*/
    padding: .15em .5em;
    border-radius: 15px;
    /*border-radius: 35px;*/
    margin-top: 0.2rem;

}

.menu a:hover {
    background-color: var(--color-menu-hover);
    /*background-color: color-mix(in srgb, red, white);*/
    /*background-color: color-mix(in srgb, red, white 70%);*/
    /*background-color: rgba(0, 0, 0, 0.795);*/

}

/*.header_portfolio {
    /*text-align: left;*/
    /*background-image: linear-gradient(rgba(0, 0, 255, 0.479), #ccccccfa);*/



.div_header {
    padding-top: 1rem;
}

 /*h1: título*/   
h1 {
    font-size: 2rem;
    color: white;
    font-family: var(--font_primary);
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    text-align: center;
    margin-top: 1px;

}


 /*Título de cada page (autora, currículo...)*/
h2 {
    font-family: var(--font_primary);
    color: var(--color_primary);
    /*color: blue;*/
    text-align: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 2rem;
    margin-left: 1rem;
}

p{
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
    margin: 1px 1px 1px 1px;


}
 
/*AUTORA*/

/*bloco inteiro da parte autora*/
.div_autora {
    display: flex;
    gap: 1.5em;
    /*text-align: center;*/
    
}


/*cada article*/
.article_autora {
    /*background-color: rgb(233, 241, 117);*/
    /*background-color: rgba(233, 247, 50, 0.438);*/
    text-align: center;
    letter-spacing: 1px;
    /*margin: 1rem 1.5rem 1rem .7rem;*/
    font-size: .99rem;
    font-family: var(--font_primary);
    /*font-family:'Times New Roman', Times, serif;*/
    color: white;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 01rem;
    padding-bottom: .1rem;

}

.imagem_autora {
    width: 300px;
    height: 300px;
    /*border-radius: 250px;*/
    border-radius: 50%;
    border: 1px solid black;
    /*border: 1px solid #ccc;*/
    text-align: center;
    /*margin: auto;*/
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;



}

.imagem_autora:hover {
    transform: scale(1.1); 
    /*border-radius: 20px solid blue;*/;
    box-shadow: 2px 2px 2px 2px var(--color_primary)
    /*box-shadow: 2px 2px 2px 2px rgba(27, 13, 224, 0.774);*/
}

.autora_parágrafo {
    margin-left: 1rem;
}


.autora_parágrafo2 {
    /*text-align: center;*/
    letter-spacing: 1px;
    /*margin: 1rem 1.5rem 1rem .7rem;*/
    font-size: .99rem;
    font-family: var(--font_primary);
    /*font-family:'Times New Roman', Times, serif;*/
    color: white;
    margin-top: 2rem;
    margin-right: 2rem;

    
}

.meus_contatos {
    color: var(--color_primary);
    /*color: blue;*/
    font-weight: bold;
    font-size: 1.1rem;


}

/*Configurando os ícones do  linkedin e github, seção autora*/
.fa-brands {
    font-size: 2.5rem;
    color: hsl(0, 2%, 56%);
    /*color:rgba(0, 128, 0, 0.664);*/
    /*gap: 5rem;*/
    /*letter-spacing: 50%;*/


}

.fa-brands:hover {
    color: var(--color_primary);
    /*color: blue;*/

}

 /*Ícones git,github,html5,css2,JS,python, bootstrap*/
 /*class fa-github1 é da home, pra não misturar com da autora*/
.ícones_home, .fa-git, .fa-github1, .fa-html5, .fa-css3-alt, .fa-square-js, .fa-bootstrap,.fa-python {
    text-align: center;
    margin-bottom: 0;
    font-size: 2.5rem;
    padding-top: 0;
    color: rgb(142, 230, 230);
    /*color: rgba(0, 0, 255, 0.425);*/
    transition: var(--color_primary);    
    /*transition: rgba(0, 0, 255, 0.425) 5s linear 1.5s;*/
 

} 

.autora_currículo {
    margin-top: 1rem;
    margin-bottom: 0;
   
}

.autora_currículo2 {
    margin-top: 0;
    margin-bottom: 1rem;
  
}


/*MEUS PROJETOS*/

 /*bloco com todas as articles*/
.section_projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px; 
    margin: 1rem 1rem;
    text-align: center;
    height: auto;

    

}

.container {
    /*display: flex;*/
    /*flex-wrap: wrap;*/

}

 /*cada projeto*/
.article_projetos { 
    /*margin-left: 1rem;*/
    /*border: 2px solid blue;*/
    border-radius: 5px;
    /*width: fit-content; /*pra se ajustar automático de acordo com o conteúdo dentro*/
    box-sizing: border-box;
    flex-direction: column;
    


}

 /*Nome de cada trabalho da page projeto*/
h3 {
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;

}


/*Imagem de cada projeto*/
.imagem_projetos {
    /*border-radius: 5px solid;*/
    justify-content: center;
    /*margin-left: 1rem;*/
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px var(--color_primary);
    /*box-shadow: 3px 3px 3px 3px rgba(27, 13, 224, 0.774); /* pra dar uma pequena sombra ao redor*/

}

.imagem_projetos:hover {
    transform: scale(1.1); /*zoom na foto ao passar o mouse*/
}

 /*parágrafo dentro do article de cada projeto*/
.article_projetos p {
    margin-left: 1rem;
    margin-top: 1rem;

}

.projeto_descriao {
    font-size: 1rem;
}

.acesse {
    font-family: var(--font_primary);
    /*font-family: var(--font_primary);*/
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    color: var(--color_primary);
    /*color: blue;*/
    border-bottom: 1px solid var(--color_primary);
   
}

.acesse:hover {
    transform: scale(1.1);
    color: color-mix(in srgb, red, white);
    border-bottom: none;

}


/*FORMULÁRIO*/
.parágrafo_form {
    text-align: center;
    margin-bottom: 1rem;
}

.section_form {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: auto;

    
    
}

.form {
    /*display: flex;*/
    /*justify-content: center;
    align-items: center;
    /*text-align: left;*/
    /*border-right: 1px solid rgba(69, 13, 224, 0.774); /*Borda na lateral dir*/
    border-bottom: 1px solid var(--color_primary);
    /*border-bottom: 1px solid rgba(69, 13, 224, 0.774);*/
    border-radius: 15px;
    box-shadow: inset 8px 3px 3px var(--color_primary);
    /*box-shadow: inset 8px 3px 3px rgba(27, 13, 224, 0.774);8/
    /*box-shadow: 3px 3px 3px 3px rgba(27, 13, 224, 0.774); /* pra dar uma pequena sombra ao redor*/
    max-width: auto;
    background-color: rgba(0, 0, 0, 0);
    /*background-color: #ccccccce;*/
    margin-top: 0;
    margin-bottom: 9rem;

     
}


.form fieldset {
    /*text-align: justify;
    width: 50%;*/
    border: none;
    padding: auto;
    /*margin: .7rem 1rem .2rem 1rem;*/
    
    
     
}

 /*Título: entre em contato*/
.form legend {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: var(--font_primary);
    /*font-family:'Times New Roman', Times, serif;*/
    color: var(--color_primary);
    /*margin-bottom: .8rem;*/
    /*text-align: center;*/
    /*align-items: center;*/
    /*margin: 1.2rem 1.rem .2rem 1.rem;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
    letter-spacing: .2rem;


        
}


 /*Descrição de cada input*/
.form label {
    font-weight: bold;
    font-size: 1.em;
    font-family: var(--font_primary);
    color: var(--color_primary);
    margin-bottom: .2em;
    margin-left: .1rem;
    letter-spacing: .2rem;
    
     
}


 /*Input= entrada de dados do usuário*/
.form input {
    padding: .7em;
    border: 5px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    font-size: 1.em;
    width: 70%;
    flex-grow: 1;
    outline: none;
         

}

 /*Animação no contorno de cada input quando usuário clicar*/
.form input:focus {
    outline: 2px solid var(--color_primary);
    /*outline: 2px solid rgb(0, 68, 255); /*form input:focus = quando clicar no campo ficar amarelo*/

}

 /*Caixa de texto*/
.form textarea {
    resize: none; /*para o usuário nao aumentar a caixa de msgm*/
    border-radius: 5px;
    margin-top: 1rem;
    border: 1px solid #ccc;
    outline: none;
    flex-wrap: wrap; /*quebra a linha*/



}

 /*Animação no contorno da caixa de texto quando usuário clicar*/
.form textarea:focus {
    outline: 2px solid var(--color_primary);
    /*outline: 2px solid rgb(0, 68, 255);*/


}

 /*Botão enviar do form*/
.btn2 {
    background-color: #ccc;
    color: black;
    font-weight: bold; /*negrito*/
    cursor: pointer;
    margin: auto;
    /*margin: 1px 1px 1px 1px;*/
    max-width: 25%;
    margin-bottom: .1rem;  
    letter-spacing: 1px; 
    
}

 /*Botão enviar do form*/
.btn2:hover { /*hover= mudar de cor ao passar com o mouse*/
    background-color: var(--color_primary);
    /*background-color: rgba(27, 13, 224, 0.774);*/
    /*background-color: rgba(0, 68, 255);*/
    color:black;

}

/*Botão subir*/
#up {
	position:fixed;
	bottom:0px;
	right:0px;

}

.button_seta {
    background-color: #ccc;
    border-radius: 20%;
    margin-bottom: 1rem;
    margin-right: .1rem;
}

.button_seta:hover {
    background-color: color-mix(in srgb, red, white);
}

footer {
    text-align: center;
    padding: 1.1em;
    color: beige;
}




/*RESPONSIVIDADE*/

@media screen and (max-width: 800px) {
    
    .body {
        /*width: 100%;*/
        flex-direction: column; /*vai transformar cada container em coluna quando a tela for <= 800px */
        align-items: center;
        margin:auto;
        
    }

    ul, li, a {
        cursor: pointer;
        /*display: flexbox;*/
        display: inline-block; /*se usasse o li no lugar do ul: display:inline-block*/
        text-decoration: none; /*tirar sublinhado*/
        list-style-type: none; /*pra tirar o budgets*/
        /*text-align: center;*/
        /*text-align: left*/
        gap: .6rem; /*espaço entre linhas */
        color: var(--color_primary);
        /*color: rgb(0, 183, 255);*/
        font-weight: bold;
        letter-spacing: 1px;
        padding-bottom: 1px;
         
    
    }

    .menu a {
        /*border: solid 2px #cccccc6b;*/
        border: solid 2px var(--color_primary);
        /*border: solid 2px rgba(0, 0, 255, 0.466);*/
        padding: .15em .5em;
        border-radius: 15px;
        /*border-radius: 35px;*/
        margin-top: 0.2rem;
    
    }

    .menu a:hover {
        background-color: none;
           
    }

    h2 {
        font-family: var(--font_primary);
        color: var(--color_primary);
        text-align: center;
        padding-top: 1.1rem;
        padding-bottom: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }

    .div_autora {
        flex-direction: column;
        gap: 0;
        
    }

    .imagem_autora {
        width: 150px;
        height: 150px;
        border: 2px solid var(--color_primary);
        /*border: 2px solid rgba(27, 13, 224, 0.774);*/
        border-radius: 250px;
        text-align: center;
        /*margin: auto;*/
        margin-bottom: auto;


    }
    .imagem_autora:hover {
        transform: none; 
        box-shadow: none;

    
    }

    .autora_parágrafo {
        margin-left: .1rem;
        text-align: center;
        
    }
    
    
    .autora_parágrafo2 {
        font-size: .99rem;
        color: white;
        text-align: center;
        margin: .1rem .1rem;
        padding-top: 1rem;
            
    }

    .meus_contatos {
        color: var(--color_primary);
        font-weight: bold;

    }

    .section_projetos {
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-evenly;
       gap: 12px; 
       height: auto;
       width: auto;

    }

    .article_projetos { 
        /*margin-left: 1rem;*/
        /*border: 2px solid blue;*/
        border-radius: 5px;
        /*width: fit-content; /*pra se ajustar automático de acordo com o conteúdo dentro*/
        box-sizing: border-box;
            
    
    }

    /*Imagem ODS*/
    .imagem_projetos {
      justify-content: center;
      margin-left: 1rem;
      border-radius: 20px;
      box-shadow: 3px 3px 3px 3px var(--color_primary);
      /*box-shadow: 3px 3px 3px 3px rgba(27, 13, 224, 0.774); */

    }

    .imagem_projetos:hover {
      transform: none; 
    }

    .fa-brands {
        font-size: 2.5rem;
        color: var(--color_primary);
           
    
    }
    
    .fa-brands:hover {
        color: none;
    
    }
     

    .article_projetos p {
       margin: auto;
    
    }

    .projeto_descriao {
        font-size: 1rem;
        padding-top: .6rem;
    }
  
    .acesse {
        font-family: var(--font_primary);
        margin-left: 1rem;
        margin-top: 1rem;
        padding-bottom: 1rem;
        /*color: blue;*/
        color: var(--color_primary);
        border-bottom: none;
       
    }

    .acesse:hover {
        transform: none;
        color: var(--color_primary);
        border-bottom: none;
    
    }
     /*Formulário*/
    .parágrafo_form {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
        
    }
           
    .section_form {
       margin: auto;
       align-items: center;
       justify-content: center;
       display: flex;
       margin-top: 3rem;
       margin-bottom: 3rem;
       /*max-width: auto;*/
       max-width: auto;
       width: 90%;
  
    }

    .form {
        
        border-bottom: 1px solid var(--color_primary);
        border-radius: 15px; 
        box-shadow: inset 8px 3px 3px var(--color_primary);
        max-width: auto;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0;
        /*margin-bottom: 9rem;*/
        margin-bottom: 2rem;

            
    }

    .form textarea {
        resize: none; 
        border-radius: 5px;
        margin-bottom: .1rem;
        border: 1px solid #ccc;
        outline: none;
        flex-wrap: wrap; 
        width: 80%;
   
    
    }

    /*Botão subir*/
    #up {
        position:fixed;
        bottom:0px;
        right:0px;
    
    }
    
    .button_seta {
        background-color: #ccc;
        border-radius: 20%;
        margin-bottom: 1rem;
        margin-right: .1rem;
    }
    
    .button_seta:hover {
        background-color: #ccc;
    }
      
    footer {
        text-align: center;
        padding: 1.1em;
        color: beige;
    }

 
}