   /*RESPONSIVIDADE*/

   @media screen and (max-width: 1115px) {

    /*PROJETOS*/
    /*Imagem dos projetos*/
    .imagem_projetos {
        width: 450px;
        height: 250px;  
        /*justify-content: center;*/
        margin: auto;
        /*margin-left: auto;*/
        /*margin-left: 1rem;*/
        margin-bottom: .1rem;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 3px var(--color_primary);
        /*box-shadow: 3px 3px 3px 3px rgba(27, 13, 224, 0.774); */
        /*margin-bottom: 1rem;*/
        float: none;
        filter: drop-shadow(0 0 24px rgb(0, 183, 255));

  
          
    }
  
    .imagem_projetos:hover {
        transform: none; 
        transform: none;
        /*filter: drop-shadow(0 0 24px rgb(0, 183, 255));*/


    }

}


     /*RESPONSIVIDADE TABLET*/

    @media screen and (max-width: 845px) {


    /*Menu Hamburguer*/
    #hamburguer {
        color: var(--color_primary);
        font-size: 2rem;
        text-align: left;
        display: block;
        margin: .1rem;
        cursor: pointer;
        padding: .1rem;

        

    }

    #hamburguer:hover {
        color: var(--color_primary);
      
    }

    /*Menu estendido não aparecer*/
    nav {
        display: none;
      
    }    
   
         /*AUTORA*/

    .div_autora {
        flex-direction: column;
        gap: 0;
    
    }

    .imagem_autora {
        width: 300px;
        height: 300px;
        border: 2px solid var(--color_primary);
        filter: drop-shadow(0 0 24px rgb(0, 183, 255));

        /*border: 2px solid rgba(27, 13, 224, 0.774);*/
        border-radius: 250px;
        text-align: center;
        /*margin: auto;*/
        margin-bottom: auto;
        margin-top: 1rem;


    }

    .imagem_autora:hover {
        transform: none; 
        /*box-shadow: none;*/


    }

    .imagem_monografia:hover {
        transform: none; 
        /*border-radius: 20px solid blue;*/;
        box-shadow: 2px 2px 2px 2px var(--color_primary)
        /*box-shadow: 2px 2px 2px 2px rgba(27, 13, 224, 0.774);*/
    }

   .autora_parágrafo {
        margin-left: .1rem;
        text-align: center;
        font-size: 1.5rem;
        color: white;
    
    }

    /*Destaque no meu nome*/
    span {
        color: var(--color_primary);
        font-family: var(--font_primary);
        font-size: 2rem;
        font-weight: bolder;
        white-space: nowrap; /*pra evitar quebra de linha: nome e sobrenome na mesma linha*/

    }

    
    .autora_parágrafo2 {
        font-size: .99rem;
        color: white;
        text-align: center;
        margin: .1rem .1rem;
        padding-top: .1rem;
        
    }


    .meus_contatos {
        color: var(--color_primary);
        font-weight: bold;
        margin-top: 3rem;
        
    }

    /*Botão pro meu currículo*/
    .btn_chamando_curriculo {
        background-color: var(--color_primary);
    }
    
    .btn_chamando_curriculo:hover {
        transform: none;
        background-color: none;
    }

   /*Configurando os ícones do  linkedin e github, seção autora*/
   .fa-brands {
        font-size: 2.5rem;
        color: var(--color_primary);  

    }

    .fa-brands:hover {
        color: none;
        transition: none;
        transform: none;

    }

    .btn_chamando_projetos:hover {
        transform: none;
        background-color: var(--color_primary);
    }


    
          /*PROJETOS*/

    /*Nome de cada trabalho da page projeto*/
    h3 {
        color: var(--color_primary);
        font-size: 1.3rem;
        /*margin-left: 2rem;*/
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    
    }

    h3:hover {
        transform: none;
        color: var(--color_primary);
    }


    /*Imagem dos projetos*/
    .imagem_projetos {
        width: 450px;
        height: 250px;  
        /*justify-content: center;*/
        margin: auto;
        /*margin-left: auto;*/
        /*margin-left: 1rem;*/
        margin-bottom: .1rem;
        border-radius: 20px;
        box-shadow: 3px 3px 3px 3px var(--color_primary);
        /*box-shadow: 3px 3px 3px 3px rgba(27, 13, 224, 0.774); */
        /*margin-bottom: 1rem;*/
        float: none;
        filter: drop-shadow(0 0 24px rgb(0, 183, 255));

  
          
    }
  
    .imagem_projetos:hover {
        transform: none; 
        transform: none;
        /*filter: drop-shadow(0 0 24px rgb(0, 183, 255));*/


    }

    
     /*Link para minhas pages github*/
     .site {
        font-family: var(--font_primary);
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: .1rem;
        padding-bottom: 1rem;
        /*color: blue;*/
        color: var(--color_primary);
        border-bottom: none;
        font-size: 1.1rem;
       
    }

    .site:hover {
        transform: none;
        color: var(--color_primary);
        border-bottom: none;
    
    }

    /*Acesso ao repositório no github*/
    .btn {
        color: black;
        background-color: rgb(170, 221, 241);
        /*background-color: #cccccc85;*/
        font-size:  .6rem;
        border-radius: 20px;
        text-decoration: none;
        padding: 0.40em 1em;
        text-align: center;
        /*margin-bottom: 2rem;*/
        margin-top: .1rem;
        /*opacity: .5;*/
        align-items: center;
    }

    .btn:hover {
        transform: none;
        background-color: rgb(170, 221, 241);
    }

    
     /*FORMULÁRIO*/

    .parágrafo_form {
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 5rem;
             

    }

    .section_form {
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 3rem;
        margin-bottom: 3rem;
        max-width: auto;
       
    }

    .form {
        border-bottom: 1px solid var(--color_primary);
        border-radius: 15px;
        box-shadow: inset 8px 3px 3px var(--color_primary);
        
        max-width: auto;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0;
        margin-bottom: 9rem;
     
    }

     /*FOOTER*/

    footer {
        text-align: center;
        padding: 2em;
    }

    footer p {
        font-size: .8rem;
        color: beige;
    
    }

}



     /*RESPONSIVIDADE CELULAR*/

@media screen and (max-width: 800px) {
    
    .body {
        /*width: 100%;*/
        flex-direction: column; /*vai transformar cada container em coluna quando a tela for <= 800px */
        align-items: center;
        margin:auto;
        
    }

    ul, li, a {
        cursor: pointer;
        /*display: flexbox;*/
        display: inline-block; 
        text-decoration: none; /*tirar sublinhado*/
        list-style-type: none; /*pra tirar o budgets*/
        /*text-align: center;*/
        /*text-align: left*/
        gap: .6rem; /*espaço entre linhas */
        color: var(--color_primary);
        /*color: rgb(0, 183, 255);*/
        font-weight: bold;
        letter-spacing: 1px;
        padding-bottom: 1px;
         
    
    }

    .menu a {
        /*border: solid 2px #cccccc6b;*/
        border: solid 2px var(--color_primary);
        /*border: solid 2px rgba(0, 0, 255, 0.466);*/
        padding: .15em .5em;
        border-radius: 15px;
        /*border-radius: 35px;*/
        margin-top: 0.2rem;

    
    }

    .menu a:hover {
        background-color: none;
           
    }

    /*Menu Hamburguer*/
    #hamburguer {
        color: var(--color_primary);
        font-size: 2rem;
        text-align: left;
        display: block;
        margin: .1rem;
        cursor: pointer;
        padding: .1rem;

        

    }

    #hamburguer:hover {
        color: var(--color_primary);
      
    }

    /*Menu estendido não aparecer*/
    nav {
        display: none;
      
    }


     /*Título de cada page (autora, currículo...)*/
    h2 {
        font-family: var(--font_primary);
        color: var(--color_primary);
        text-align: center;
        padding-top: 1.1rem;
        padding-bottom: 1rem;
        margin-top: 2rem;
        margin-left: 1rem;
    }

         /*AUTORA*/

    .div_autora {
        flex-direction: column;
        gap: 0;
        
    }

    .imagem_autora {
        width: 250px;
        height: 250px;
        border: 2px solid var(--color_primary);
        filter: drop-shadow(0 0 24px rgb(0, 183, 255));
        /*border: 2px solid rgba(27, 13, 224, 0.774);*/
        border-radius: 250px;
        text-align: center;
        /*margin: auto;*/
        margin-bottom: auto;


    }
    .imagem_autora:hover {
        transform: none; 
        /*box-shadow: none;*/

    
    }

    .imagem_monografia:hover {
        transform: none; 
        /*border-radius: 20px solid blue;*/;
        box-shadow: 2px 2px 2px 2px var(--color_primary);
        /*box-shadow: 2px 2px 2px 2px rgba(27, 13, 224, 0.774);*/
    }

    .autora_parágrafo {
        margin-left: .1rem;
        text-align: center;
        font-size: 1.5rem;
        color: white;
        
    }

    /*Destaque no meu nome*/
    span {
        color: var(--color_primary);
        font-family: var(--font_primary);
        font-size: 2rem;
        font-weight: bolder;
        
    }

        
    .autora_parágrafo2 {
        font-size: .99rem;
        color: white;
        text-align: center;
        margin: .1rem .1rem;
        padding-top: .1rem;
            
    }

    .meus_contatos {
        color: var(--color_primary);
        font-weight: bold;
        margin-top: 1rem;

    }

       /*Configurando os ícones do  linkedin e github, seção autora*/
    .fa-brands {
        font-size: 2.5rem;
        color: var(--color_primary);         
    
    }
    
    .fa-brands:hover {
        color: none;
        transition: none;
        transform: none;
    
    }

    .btn_chamando_curriculo {
        background-color: var(--color_primary);
    }

    .btn_chamando_curriculo {
        background-color: var(--color_primary);
    }

    .btn_chamando_curriculo {
        transform: none;
        background-color: none;

    }
       

    .btn_chamando_projetos:hover {
        transform: none;
        background-color: none;
    }

         /*MEUS PROJETOS*/

    /*bloco com todas as divis e articles*/
    .section_projetos {
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-evenly;
       gap: 12px; 
       height: auto;
       width: auto;

    }

     /*foto e parágrafos*/
    .article_projetos { 
        /*margin-left: 1rem;*/
        /*border: 2px solid blue;*/
        border-radius: 5px;
        /*width: fit-content; /*pra se ajustar automático de acordo com o conteúdo dentro*/
        box-sizing: border-box;
            
    
    }

     /*Nome de cada trabalho da page projeto*/
    h3 {
        color: var(--color_primary);
        font-size: 1.3rem;
        /*margin-left: 2rem;*/
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    
    }

    h3:hover {
        transform: none;
        color: var(--color_primary);
    }

    /*Imagem dos projetos*/
    .imagem_projetos {
      width: 300px;
      height: 200px;  
      /*justify-content: center;*/
      margin: auto;
      /*margin-left: auto;*/
      /*margin-left: 1rem;*/
      margin-bottom: .1rem;
      border-radius: 20px;
      box-shadow: 3px 3px 3px 3px var(--color_primary);
      /*box-shadow: 3px 3px 3px 3px rgba(27, 13, 224, 0.774); */
      /*margin-bottom: 1rem;*/
      float: none;
      filter: drop-shadow(0 0 24px rgb(0, 183, 255));

     

    }

    .imagem_projetos:hover {
      transform: none; 
      transform: none;


    }

    
    .projeto_descricao {
        font-size: 1rem;
        padding-top: .6rem;
        margin-top: 1rem;
        flex-wrap: wrap;

    }
  
    /*Link para minhas pages github*/
    .site {
        font-family: var(--font_primary);
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: .1rem;
        padding-bottom: 1rem;
        /*color: blue;*/
        color: var(--color_primary);
        border-bottom: none;
        font-size: 1.1rem;
       
    }

    .site:hover {
        transform: none;
        color: var(--color_primary);
        border-bottom: none;
    
    }

    /*Acesso ao repositório no github*/
    .btn {
        color: black;
        background-color: rgb(170, 221, 241);
        /*background-color: #cccccc85;*/
        font-size:  .6rem;
        border-radius: 20px;
        text-decoration: none;
        padding: 0.40em 1em;
        text-align: center;
        /*margin-bottom: 2rem;*/
        margin-top: .1rem;
        /*opacity: .5;*/
        align-items: center;
    }

    .btn:hover {
        transform: none;
        background-color: rgb(170, 221, 241);
    }

          /*FORMULÁRIO*/

    .parágrafo_form {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.1rem;
        
    }
           
    .section_form {
       margin: auto;
       align-items: center;
       justify-content: center;
       display: flex;
       margin-top: 3rem;
       margin-bottom: 3rem;
       /*max-width: auto;*/
       max-width: auto;
       width: 90%;
  
    }

    .form {
        
        border-bottom: 1px solid var(--color_primary);
        border-radius: 15px; 
        box-shadow: inset 8px 3px 3px var(--color_primary);
        max-width: auto;
        background-color: rgba(0, 0, 0, 0);
        margin-top: 0;
        /*margin-bottom: 9rem;*/
        margin-bottom: 2rem;

            
    }

    .form textarea {
        resize: none; 
        border-radius: 5px;
        margin-bottom: .1rem;
        border: 1px solid #ccc;
        outline: none;
        flex-wrap: wrap; 
        width: 80%;
   
    
    }

           /*BOTÃO/SETA PARA SUBIR A TELA*/
     #up {
        position:fixed;
        bottom:0px;
        right:0px;
    
    }
    
    .button_seta {
        background-color: #ccc;
        border-radius: 20%;
        margin-bottom: 1rem;
        margin-right: .1rem;
    }
    
    .button_seta:hover {
        background-color: #ccc;
    }
      
    footer {
        text-align: center;
        padding: 1em;
    }

    footer p {
        font-size: .8rem;
        color: beige;
    
    }
}